@tailwind base;
@tailwind components;
@tailwind utilities;

.categoryButton {
    display: inline-block;
    position: relative;
    color: #a5b1bc;
    border: 1px solid #81909a;
    border-radius: 20px;
}

.categoryButton input {
    opacity: 0;
    position: absolute;
    left: 0;
}

.categoryButton label {
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    transition: .4s;
}

.categoryButton input:checked+label {
    background-color: rgb(56 189 248 / var(--tw-bg-opacity));
    color: #FFF;
}



[x-cloak] {
    display: none !important;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #11191f;
    /* background-color: #f6f8fa; */
    color: #ffffff;
    /* デフォルトのテキスト色を白に設定 */
    font-family: Arial, sans-serif;
    /* フォントファミリー */
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    padding-top: 40px;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #11191f;
}


.input {
    background-color: #11191f;
    border: 1px solid #73828c;
    color: white;
}

.input:focus {
    outline: none;
    border-color: #00BFFF;
    box-shadow: 0 0 5px #00BFFF;
}

input::placeholder {
    color: #73828c
}

/* コンテナーのスタイリング */
.container {
    text-align: center;
    padding: 40px;
    margin: auto;
    margin-top: 80px;
    max-width: 800px;
}

/* 見出しのスタイリング */
h1 {
    font-size: 2.5rem;
    color: white;
    /* 金色で目立たせる */
    margin-bottom: 20px;
}

/* テキストブロックのスタイリング */
.text-block {
    padding: 20px;
    background-color: #1A2433;
    /* 暗い背景色でコントラストをつける */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
}

/* テキスト要素のスタイリング */
p {
    color: #E0E0E0;
    /* 明るいグレーのテキスト色 */
    line-height: 1.6;
}




.e1 {
    background-color: #bcf1bc;
    /* ペールグリーン */
    color: #089aca;
    /* ダークグリーン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.a2 {
    background-color: #ebd795;
    /* ペールグリーン */
    color: #081bca;
    /* ダークグリーン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.s1 {
    background-color: #ecffb6;
    /* ライトピンク */
    color: #0799c5;
    /* ミディアムバイオレットレッド */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.f1 {
    background-color: #dae990;
    /* オールドレース */
    color: #ef741d;
    /* サドルブラウン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.p1 {
    background-color: #9AFF9A;
    /* ライトグリーン */
    color: #008000;
    /* グリーン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.i1 {
    background-color: #a1ff9a;
    /* ライトグリーン */
    color: #089124;
    /* グリーン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.s2 {
    background-color: #9af8ff;
    /* ライトグリーン */
    color: #026a0b;
    /* グリーン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.j1 {
    background-color: #7cbcd6;
    /* スカイブルー */
    color: #305472;
    /* スチールブルー */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.c1 {
    background-color: #e4dc91;
    /* カーキ */
    color: #ef0e0e;
    /* ダークレッド */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.b1 {
    background-color: #FFC0CB;
    /* ピンク */
    color: #A52A2A;
    /* ブラウン */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.m2 {
    background-color: #482048;
    /* プラム */
    color: #bf261b;
    /* パープル */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.f2 {
    background-color: #eee3a7;
    /* ゴールド */
    color: #86630a;
    /* ダークゴールデンロッド */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.b1 {
    background-color: #e2da7e;
    /* ミディアムシーグリーン */
    color: #504820;
    /* ダークスレートグレー */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.g1 {
    background-color: #FFDAB9;
    /* ピーチパフ */
    color: #CD5C5C;
    /* インディアンレッド */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.s3 {
    background-color: #38385e;
    /* トマト色の背景 */
    color: #c2bbe8;
    /* ダークレッドの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.h3 {
    background-color: #4f4470;
    /* より薄い灰色の背景 */
    color: rgb(245, 27, 27);
    /* 白色の文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.r3 {
    background-color: #5f7892;
    /* ライトスレートグレーの背景 */
    color: #f5f3f3;
    /* 暗いスレートグレーの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.l4 {
    background-color: #56658c;
    /* ライトグレーの背景 */
    color: #e1d9d9;
    /* ダイムグレーの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.a4 {
    background-color: #717ab1;
    /* ピーチパフの背景 */
    color: #f2f0ef;
    /* シエナの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.d2 {
    background-color: #41435d;
    /* グレーの背景 */
    color: #d9d5f1;
    /* ブラックの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.d5 {
    background-color: #5f4b76;
    /* ロージーブラウンの背景 */
    color: #bfc1ed;
    /* サドルブラウンの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.h6 {
    background-color: #595b89;
    /* より薄い灰色の背景 */
    color: #e8eeee;
    /* 暗いスレートグレーの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.d5 {
    background-color: #524982;
    /* ライトサーモンの背景 */
    color: #f7f6f6;
    /* ブラウンの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.e2 {
    background-color: #6b4372;
    /* ペールグリーンの背景 */
    color: #b2abd9;
    /* ダークグリーンの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.t1 {
    background-color: #778899;
    /* ライトスレートグレーの背景 */
    color: #000080;
    /* ネイビーの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.i6 {
    background-color: #4f4980;
    /* タンの背景 */
    color: #dfdbfc;
    /* ダークレッドの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.g9 {
    background-color: #4f4a7c;
    /* サーモンの背景 */
    color: #141212;
    /* マルーンの文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.d3 {
    background-color: #696969;
    /* ダイムグレーの背景 */
    color: white;
    /* 白色の文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.s8 {
    background-color: #749af4;
    /* ダイムグレーの背景 */
    color: rgb(68, 64, 114);
    /* 白色の文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.d9 {
    background-color: #8084e6;
    /* ダイムグレーの背景 */
    color: rgb(58, 54, 70);
    /* 白色の文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.m4 {
    background-color: #62649f;
    /* ダイムグレーの背景 */
    color: rgb(249, 248, 252);
    /* 白色の文字色 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}